<div id="body">
    
    <h2>Cards</h2>
    <ol id="CardList"></ol>
    <input type="button" value="Get All" id="getCards" />

    <h2>Set Single Card</h2>
    <input type="text" id="stuId" placeholder="Card Name" />
    <div id="Card"></div>
    <input type="button" value="Get Card" id="getCard"/>

    <h2>Card By Attack</h2>
    <input type="text" id="cardByAttack" placeholder="Attack"/>
    <div id="AttackList"></div>
    <input type="button" value="Search" id="getCardByAttack" />

    <h2>Add New Card</h2>
    <input type="text" id="newStuId" placeholder="Card ID" />
    <br />
    <input type="text" id="newStuName" placeholder="Name" />
    <br />
    <input type="text" id="newAttack" placeholder="Attack" />
    <br/>
    <input type="text" id="newHealth" placeholder="Health"/>
    <br/>
    <input type="button" value="Save New Card" id="saveNewCard" />
</div>
